.navbar{
    position:fixed;
    top:0px;
    background-color:#5a287d;
    width:100%;
    margin-bottom: 40px;
    z-index: 1000;
  }
  
  .navbar .container-fluid p{
    font-size: xx-large;
    margin-left: 65px;
    width: fit-content;
  }
  
  
  .nav-item{
    padding:10px
  }
  
  .nav-link{
    position: relative;
    overflow: hidden;
    font-size:20px;
    color: white;
    width:auto;
  }
  
  
  
  .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
  }
  
  .nav-link:hover::before {
    width: 100%;
  }
 
  .nav-link:focus{
    color: white;
  }
 