footer{
 
  margin-top: 40px;
    background-color:   #5B278E;
  

}
.footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-footer-home{
  margin: 20px;
  width: 280.545px;
  height: 324.741px;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  color: #FFF;
  /* background: rgba(255, 255, 255, 0.05); */
  background-color:   #ddc1f91a;

}
.card-footer-home>h2{
  padding: 8px;
text-align: center;
font-family: Myanmar Khyay;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-footer-home>p{
font-family: Myanmar Khyay;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
overflow: hidden;
height: 120px;
overflow: hidden;

}
.btn-footer{
  width: 133px;
  height: 44px;
  color: #5f596e;
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 0px;
}
.btn-footer:hover{
  cursor: pointer;
  transform:   translate(-0px, -1px)
}
.footer_social_media{
  color: white;
  text-align: center;
}
.social_media{
  
  display: flex;
  justify-content:space-evenly;
  margin: 20px;
  margin-bottom: -20px;
}


.social_media span:hover{
  cursor: pointer;
  transform:   translate(-1px, -10px)
}
@media (min-width: 310px) and (max-width: 920px) {
 .footer_social_media{
  width: 60%;
 }
  /* .social_media {
    display: flex;
  } */
} 